body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1 {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 4.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-weight: bold;
}

p {
    color: #8f8f8f;
}

#title {
    background-color: #ff4c68;
    color: white;
}

.container-fluid {
    padding: 3% 10%;
}

.navbar {
    padding-bottom: 30px;
}

.navbar-logo {
    height: 50px;
}

.navbar-brand {
    font-family: 'Dongle', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 20px;
    font-size: 1.25rem;
}

.title-image {
    width: 60%;
    transform: rotate(30deg);
    padding-left: 20%;
}

#features {
    padding: 7% 15%;
}

.feature-box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
    margin-bottom: 1rem;
}

#testimonials {
    text-align: center;
    color: #fff;
    background-color: #ef8172;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    text-align: center;
    color: #fff;
    background-color: #ef8172;
    padding: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 767px) {
    #title {
        text-align: center;
    }
    .title-image {
        transform: rotate(0deg);
        padding: 10%;
    }
}